:root {
  --bg-color: #fff;
  --txt-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
  text-decoration: none !important;
}
p {
  font-size: 1.1rem;
}
.theme.txt_color {
  color: var(--txt-color);
}

.bg_theme.bg_color {
  background-color: var(--bg-color);
}

.button {
  background-color: #fb811e;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  padding: 14px 20px;
}
.button:hover {
  background-color: #009f4d;
}
.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 1.5rem;
}
.fs-3 {
  font-size: 2rem;
}
#mynav {
  transition: 0.4s;
  display: flex;
  align-items: center;
  line-height: 0;
  color: #fff;
}
.nav {
  height: 70px;
}
.nav_active {
  height: 60px;
}
#mynav .farmstead i {
  color: #fb811e;
  transition: 0.5s;
}
#mynav .farmstead {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  color: #fb811e;
  height: 100%;
  margin: 0;
  padding: 15px;
  display: inline-block;
}
#mynav.bgc-black a:hover p,
#mynav.bgc-black a:hover i {
  color: #fff;
}
#mynav.bgc-white a:hover p,
#mynav.bgc-white a:hover i {
  color: #000;
}
#mynav i {
  color: #fff;
}

#mynav.nav_active .fa-sun:hover,
#mynav.nav_active .fa-moon:hover {
  color: var(--txt-color);
}
#mynav.nav_active p,
#mynav.nav_active p > i {
  color: #fff;
}
#mynav.nav_active .txt_color {
  color: var(--txt-color);
}

header .navbar-brand {
  position: relative;
}
header .fa-leaf {
  position: absolute;
  top: 0;
  left: 40%;
  line-height: 0;
}
header .icon {
  position: relative;
  width: 32px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mynav .fa-sun {
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  display: none;
}
#mynav .fa-sun:hover {
  color: #fb811e;
}
#mynav .fa-moon {
  font-size: 24px;
  transition: 0.3s;
  display: block;
}

#mynav .fa-moon:hover {
  color: #fb811e;
  cursor: pointer;
}
header .d-flex {
  height: 32px;
  display: flex;
  align-items: center;
}
header .searchdiv {
  position: relative;
  height: 100%;
  border-radius: 32px;
  overflow: hidden;
  width: 32px;
  background-color: #fff;
  border: solid 1px rgb(233, 230, 230);
  transition: 0.5s;
}
/* header .searchdiv.disabled {
  width: 32px;
} */
header .searchdiv.active {
  transition: 0.5s;
  width: 200px;
}

.form-control {
  border: none;
}
.searchdiv .form-control:focus {
  border: none;
  box-shadow: none;
}
header .searchbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100px;
  border-radius: 32px;
  cursor: pointer;
  padding: 0 32px;
}

#mynav .fa-search {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 1;
  display: inline-block;
  line-height: 32px;
  cursor: pointer;
  width: 32px;
  color: #000;
}

header .fa-bars {
  cursor: pointer;
}

/* End Header */
/* Start Carousel */
.carousel1 .carousel-item {
  height: 100%;
}
.carousel1 .carousel-caption {
  position: absolute;
  top: 90%;
  left: 40%;
  display: block !important ;
  height: 5%;
  width: 20%;
}
.carousel1 .carousel-caption h5 {
  font-size: 1.6rem;
  margin: 0;
  font-weight: bold;
}
.introduce h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.introduce .txt {
  color: #707070;
}
.carousel1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.carousel1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: ;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.carousel1 .carousel_img {
  height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-bottom-left-radius: 30px;
  overflow: hidden;
}
.carousel1 .carousel-item img {
  object-fit: cover;
  min-height: 100vh;
}
.carousel1 .carousel-inner {
  height: 100%;
}

.carousel-indicators .active {
  background-color: #fb811e;
}
.carouseltxt_container {
  position: absolute;
  z-index: 2;
  left: 10rem;
  width: 40%;
  background-color: transparent;
}
.carousel1 .txt_farm {
  font-size: 7rem;
  font-weight: bold;
  margin-left: -3rem;
  margin-bottom: 0;
  color: rgb(244, 244, 244);
  line-height: 15px;
}
.carousel1 .carousel_welcome {
}
.carousel1 .carousel_welcome h2 {
  font-size: 3rem;
  font-weight: bold;
}
.carousel1 .carousel_welcome p {
  color: #707070;
}
.carousel1 #carouselExampleIndicators {
  height: 100%;
  z-index: 1;
  background-image: none;
}
.btn-warning {
  background-color: #fb811e;
  border: none;
  border-radius: 30px;
}
/* End Carousel */
/* Start Introduce */
.introduce {
  /* background-color: #313131; */
  padding: 100px 0;
}
/* .introduce::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.1);} */

.introduce .introduce__title {
  color: #fb811e;
}
.introduce .container.row {
  align-items: center;
}
.introduce .introduce_container {
  padding-right: 20px;
}
.introduce .product__container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.introduce .product__container.col {
  padding: 0;
  padding-right: 15px;
}
.introduce .product__items {
  width: 50%;
  padding: 15px;
}
.introduce__items.row {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 50px 30px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.introduce__items.row:hover {
  box-shadow: rgba(0, 0, 0, 0.01) 0px 10px 50px;
}
.introduce__items img {
  width: 40%;
  object-fit: contain;
}
.introduce__items .txt_items p {
  font-weight: bold;
  transition: 0.3s;
}
.introduce__items .txt_items p:hover {
  color: #009f4d;
}

/*




Đạt */

.service-section {
  background-color: #009f4d;
}
.HomePageImageServices .col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
h4.title-bg-content {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  display: block;
  width: 100%;
  text-align: center;
  /* left: 0; */
  bottom: 50%;
  transform: translateY(50%);
}

.section-heading h5 {
  font-size: 23px;
}
.section-heading h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.section-heading p {
  font-weight: 200;

  margin-right: 20px;
}
.service-section .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.img-responsive {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  width: 100%;
}
.card-header {
  background-color: #009f4d;
}
.card {
  border: none !important;
  border-radius: 1.25rem;
}
.service-details span {
  color: #009f4d;
  display: inline-block;
  background: rgba(0, 159, 77, 0.082);
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 600;
}
.service-details {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
a.service-heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: black;
  margin: 15px 0;

  text-decoration: none;
  transition: 0.5s;
}
a.service-heading:hover {
  color: #009f4d;
}

/*start why choose us*/

.row_1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.align-self {
  align-self: center;
}
h5.small-title {
  color: #fb811e;
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: black;
}
.w3l-servicesblock .content,
.card-body p {
  color: #707070;
  /* font-weight: 200; */
}
.fa.fa-life-ring,
.fa.fa-users {
  font-size: 30px;
  color: #fb811e;
}
.grids_info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.grids_info p {
  color: rgb(127, 127, 127);

  font-weight: 200;
}
.imginfo__box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 28px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__box .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.imginfo__box p {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.radius-image {
  border-radius: 20px;
}

/*start homepage*/
.features15-col-text {
  margin-top: 30px;
}
.features15-col-text h4 {
  color: black;
  transition: 0.5s;
  font-weight: 600;
}

.features15-col-text p {
  color: rgb(127, 127, 127);
}
.w3l-index-block4 .feature-unit {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  /* background: var(--bg-light); */
  transition: 0.3s ease-in;
}
.w3l-index-block4 .feature-unit:hover {
  border: 1px solid rgba(231, 228, 228, 0.759);
  transition: 0.3s ease-in;
  /* box-shadow: -1px 2px 12px -9px var(--box-shadow); */
}
.w3l-index-block4 .feature-unit:hover h4 {
  color: #009f4d;
}
.col-lg-4 {
  padding-right: 25px;
  padding-left: 25px;
}

/* Hiếu */
.gallery-img-grid.col-lg-3 {
  max-width: 25%;
}
html {
  scroll-behavior: smooth;
}
h5.text {
  text-align: center;
  position: absolute;
  color: #fff;
  bottom: 0;
  font-weight: 600;
  background: rgb(255 255 255 / 30%);
  padding: 6px;
  left: 0;
  right: 0;
  margin: 30px;
}

.btn-primary {
  background-color: #fb811e;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: green;
  border-color: green;
}

h5.small-title {
  color: #fb811e;
  font-size: 22px;
}
h3 {
  font-size: 45px;
}
.mt-2 {
  color: rgba(0, 0, 0, 0.5);
}
.service-section .item {
  width: 800px;
  position: relative;
  overflow: hidden;
}
.figure.item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: 1s;
}

.figure.item img {
  object-fit: contain;
  width: 100%;
}
.hover14 figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.item:hover::before {
  left: 125%;
}
.lg-outer .lg-thumb-outer.lg-thumb-align-left {
  text-align: center;
}
/* Carousel  */
.carousel {
  z-index: 0;
  height: 450px;
  background-repeat: no-repeat;
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
  background-size: cover;
}
.carousel::before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 10px;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #fb811e;
}
.carousel-caption {
  height: 100%;
  position: relative;
  display: flex !important;
  left: 0;
  top: 0;
  align-items: center;
}
.carousel-caption img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.peopl p {
  font-size: 15px;
}
.carousel-caption h3 {
  font-size: 25px;
  margin-top: 15px;
}
.carousel-inner {
  margin: auto;
  height: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.text-center q {
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
  font-size: 1.4rem;
}
.text-center span {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}

/* Footer */
.FooterLogo a {
  color: #fb811e;
  font-size: 32px;
  text-decoration: none;
  transition: 0.5s;
  position: relative;
}

.bg_color .FooterLogo a:hover {
  color: var(--txt-color);
}
.bg_color .FooterLogo a:hover {
  color: var(--txt-color);
}
.mt-3 a {
  color: black;
  text-decoration: none;
}
.mt-3 a:hover {
  color: #fb811e;
  transition: 0.5s;
}
.copy-text a {
  text-decoration: none;
  color: green;
  transition: 0.5s;
}
.copy-text a:hover {
  color: #fb811e;
}
.mt-4 li {
  list-style-type: none;
}
.w3l-footer-16 .subscribe input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 30px 0px 0px 30px;
}
.w3l-footer-16 .subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
  transition: 0.5s;
}
.w3l-footer-16 .subscribe button:hover {
  opacity: 0.8;
}
.FooterLogo .fa-leaf {
  position: absolute;
  top: 0;
  left: 35%;
  line-height: 0;
  font-size: 20px;
}
.w3l-footer-16-main h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.w3l-footer-16 ul.social li a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px;
  transition: 0.5s;
}
.social {
  display: flex;
  padding: 0;
}
span i {
  vertical-align: bottom;
}
.w3l-footer-16 ul.social li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
/* BackToTop */
.btn-back-to-top {
  background-color: green;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  height: 45px;
  width: 45px;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
.btn-success {
  transition: 0.3s;
  background-color: #009f4d;
}
.btn-success:hover {
  opacity: 0.7;
}
/* Dark mode */
.title {
  color: black;
}

.dark-mode {
  color: white;
  background-color: #222222;
}
#test,
.mt-3 a,
.mt-2 {
  color: #707070;
}

/* RESPONSIVE */
@media (max-width: 1199.98px) {
  .introduce__items.row {
    padding: 30px 30px;
  }
  .w3l-index-block4 .feature-unit {
    padding: 2rem 0;
  }
  p,
  .text-center q {
    font-size: 1.2rem;
  }
  .button {
    padding: 8px 20px;
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .carouseltxt_container {
    left: 3rem;
    width: 35%;
  }
  .carousel1 .txt_farm {
    font-size: 5rem;
  }
  .carousel1 .carousel_welcome h2 {
    font-size: 2.3rem;
  }

  .introduce .container.row {
    flex-direction: column;
  }
  .HomePageImageServices .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .gallery-img-grid.col-lg-3 {
    max-width: 50%;
  }
  .imginfo__box {
    left: -45px;
  }
}
@media (max-width: 767.98px) {
  .carousel1 .carousel_img {
    width: 100%;
  }
  .carouseltxt_container {
    width: 90%;
    margin: auto;
    padding: 40px 80px;
    left: 5%;
    background-color: var(--bg-color);
    border-radius: 20px;
  }
  .carousel1 .txt_farm {
    line-height: 0.5;
  }
  .carousel1 .carousel_welcome h2 {
    font-size: 2rem;
  }
  .HomePageImageServices .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .h4.title-bg-content {
    font-size: 10vw;
  }
  .carousel {
    height: 600px;
  }
  .carousel-indicators li {
    height: 10px;
    width: 10px;
  }
  p,
  .text-center q {
    font-size: 1.1rem;
  }
  .section-heading p {
    margin-right: 0;
  }
  .imginfo__box {
    left: -60px;
  }

  .carousel1 .carousel-caption {
    top: 85%;
    left: 70%;
  }
  #mynav .farmstead,
  #mynav .farmstead i {
    color: #fff;
  }
  #mynav.nav_active .farmstead,
  #mynav.nav_active .farmstead i {
    color: #fb811e;
  }
  h4.title-bg-content {
    font-size: 16vw;
  }
}
@media (max-width: 575.98px) {
  .imginfo__box {
    left: -50px;
  }
  .carouseltxt_container {
    padding: 40px 40px 40px 60px;
  }
  .carousel1 .txt_farm {
    font-size: 4rem;
  }
  .carousel1 .carousel_welcome h2 {
    font-size: 1.8rem;
  }
  h3.title-style {
    font-size: 2rem;
  }
  .gallery_effect p {
    font-size: 1rem;
  }
  .introduce {
    padding: 50px 0;
  }
  p,
  .text-center q,
  h5.text {
    font-size: 1rem;
  }

  .carousel {
    height: 500px;
  }
}
